* {
    background: #E5E5E5;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
}

.logoAlura {
    position: absolute;
    width: 255px;
    height: 64px;
    left: 592px;
    top: 60px;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area {
    position: absolute;
    border: 3px solid #0073ff;
    border-radius: 5px;
    width: 440px;
    height: 362px;
    left: 100px;
    top: 179px;    
}

::placeholder { color: #acacac; }
  .text-area:focus {    
      outline: none;
    }

.mensagem {
    background-image: url("imagens/code.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    border: 3px solid #0073ff;
    border-radius: 5px;
    width: 450px;
    height: 355px;
    left: 890px;
    top: 179px;
}

.mensagem:focus {
    outline: none;
}

.botoes {
    display: flex;
    margin-top: 18px;
}

.btn-desencriptar {
    background-color: #AFE7A6;
    border: 3px solid #608962;
    border-radius: 10px;
    position: absolute;
    width: 236px;
    height: 60px;
    left: 597px;
    top: 360px;
}

.btn-encriptar {
    background-color: #FFCACA;
    border: 3px solid #A15C5C;
    border-radius: 10px;
    position: absolute;
    width: 199px;
    height: 60px;
    left: 616px;
    top: 265px; 
}

.informacao {
    color: #495057;
    font-size:18px;
    position: absolute;
    width: 355px;
    height: 22px;
    left: 100px;
    top: 546px;
}


